* {
  box-sizing: border-box;
}

/*Create global color variables*/
:root {
  --primary: #eec170;
  --secondary: #ff6663;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

/* Header*/

header {
  display: flex;
  background-color: var(--primary);
  width: 100%;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  display: flex;
  width: 300px;
  height: 50px;
  padding-left: 20px;
  background-color: var(--secondary);
  align-items: center;
  color: var(--primary);
}

.header .nav {
  font-size: 20px;
  margin-right: 60px;
}

.btn {
  display: inline-block;
  padding: 0 10px;
  text-decoration: var(--secondary) 3px underline;
  text-underline-offset: 4px;
}

/* End of Header*/

/* Banner*/
.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  height: 180px;
  background-size: cover;
}

.hero-banner div h2 {
  float: right;
  margin-right: 60px;
  margin-top: 130px;
  color: var(--primary);
  -webkit-text-stroke: 1px black;
}

/* End of Banner*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
